CONFIG_GENERIC_CPU=y
CONFIG_CRYPTO_CRC32C_INTEL=m
CONFIG_PINMUX=y
CONFIG_PINCONF=y
CONFIG_GENERIC_PINCONF=y
CONFIG_DRM=y
CONFIG_DRM_KMS_HELPER=y
CONFIG_HAS_IOMEM=y

## Disable options from other fragments that are not used by this BSP
# CONFIG_SERIAL_OF_PLATFORM is not set
